:host {
  //display: block;
  width: 98vw;
  height: 98vh;
  //overflow-y: auto;
}

img {
  border-width: 2px;
}

.border {
  border-style: solid;
}

p, h2, h3 {
  margin: 0;
}

.manager-container {
  text-align: center;
  border-width: 2px;
}
