<div class="relative">

  <!-- Close Icon -->
  <button (click)="closeDialog()" class="z-50 absolute top-2 right-2 text-white hover:text-gray-300 focus:outline-none">
    <span class="material-icons">close</span>
  </button>

  <ngx-loading
    [show]="isImageLoading || loading"
    [config]="{ backdropBorderRadius: '3px' }"
  ></ngx-loading>

  <div class="relative flex flex-col items-center justify-center bg-[url('/images/icons/ground_bg.jpg')] bg-cover bg-center p-6 md:p-8 rounded-lg w-full h-screen">
    <div class="absolute inset-0 bg-black opacity-60 rounded-lg"></div>

    <!-- Content Container -->
    <div class="relative z-10 flex flex-col items-center">

      <div class="border-4 border-white shadow-xl rounded-lg overflow-hidden mb-6 md:mb-10 w-full max-w-sm">
        <img [hidden]="isImageLoading" [src]="data?.player?.image || '/images/icons/avatar.png'"
             alt="{{ data.player.name }}"
             class="w-full h-[300px] md:h-[500px] rounded-lg"
             (load)="onImageLoad()"
             (error)="onImageError()">

        <ng-container *ngIf="isImageLoading">
          <img [src]="'/images/icons/player_avatar_white.jpeg'"
               alt=""
               class="w-[15rem] h-[20rem] md:w-[20rem] md:h-[26rem] rounded-lg">
        </ng-container>
      </div>

      <h2 class="text-4xl md:text-6xl font-extrabold text-white mb-4 md:mb-6 tracking-wide drop-shadow-lg text-center">
        <span class="uppercase" style="font-family: serif, sans-serif">{{ data.player.name }}</span>
      </h2>

      <div style="width: fit-content; padding-right: 35px; padding-left: 35px" class="border-2 border-gray-200  text-white px-5 py-2 rounded-lg bg-gradient-to-r from-gray-800 via-gray-900 to-black shadow-lg flex items-center justify-center w-full max-w-md">
        <p class="text-lg md:text-2xl font-semibold tracking-wide">{{ dataUtils?.getPosition(data.player.position) }}</p>
      </div>

    </div>

    <button (click)="this.showDetails = !this.showDetails;" class="absolute right-4 bottom-4 text-white text-xl md:text-2xl focus:outline-none">
      <span class="transform transition-transform" [ngClass]="{'rotate-180': showDetails, 'rotate-90' : !showDetails}">▼</span>
    </button>

    <!-- Toggleable Section -->
    <div *ngIf="showDetails" class="absolute z-50 right-0 bottom-[70px] mt-6 w-full max-w-xs bg-black bg-opacity-70 p-4 rounded-lg shadow-md text-white flex flex-col gap-4 transition-all duration-300">

      <div class="flex flex-col">
        <label for="price" class="text-lg font-semibold mb-1">Price</label>
        <input id="price" type="number" [(ngModel)]="amount"
               class="mt-2 px-3 py-2 bg-gray-800 text-white rounded-lg focus:outline-none border border-gray-500">
      </div>

      <div class="flex flex-col">
        <label for="team" class="text-lg font-semibold mb-1">Team</label>
        <select id="team" [(ngModel)]="selectedTeam"
                class="mt-2 px-3 py-2 bg-gray-800 text-white rounded-lg focus:outline-none border border-gray-500">
          <option *ngFor="let team of data?.teams" [ngValue]="team">{{ team.name }}</option>
        </select>
      </div>

      <button (dblclick)="updatePlayerDetails()" class="bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-200">
        Save
      </button>

    </div>

  </div>

</div>
