<h2 mat-dialog-title class="text-center text-xl font-semibold">
  {{ data.editMode ? 'Modify Player' : 'Add New Player' }}
</h2>

<form [formGroup]="playerForm" class="dense-form">

  <mat-dialog-content class="space-y-4 py-2">

    <!-- Token -->
    <mat-form-field class="w-full" appearance="fill">
      <mat-label><mat-icon>token</mat-icon> Token No</mat-label>
      <input matInput formControlName="tokenNo" type="number" />
    </mat-form-field>

    <!-- Name -->
    <mat-form-field class="w-full" appearance="fill">
      <mat-label><mat-icon>person</mat-icon> Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <!-- Position -->
    <mat-form-field class="w-full" appearance="fill">
      <mat-label><mat-icon>work</mat-icon> Position</mat-label>
      <mat-select formControlName="position">
        <mat-option *ngFor="let position of positions" [value]="position.id">
          {{ position.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Phone Number -->
    <mat-form-field class="w-full" appearance="fill">
      <mat-label>
        <mat-icon>phone</mat-icon>
        Phone Number
      </mat-label>

      <!-- NON-EDITABLE PREFIX -->
      <span matPrefix class="font-semibold text-gray-600 pr-2">
    +91
  </span>

      <input
        matInput
        type="tel"
        inputmode="numeric"
        formControlName="phone"
        maxlength="10"
        placeholder="XXXXXXXXXX"
        autocomplete="off"
      />

      <mat-hint>Indian mobile number</mat-hint>

      <mat-error *ngIf="playerForm.get('phone')?.hasError('required')">
        Phone number is required
      </mat-error>

      <mat-error *ngIf="playerForm.get('phone')?.hasError('pattern')">
        Enter a valid 10-digit mobile number
      </mat-error>
    </mat-form-field>

    <!-- Captain -->
    <mat-checkbox formControlName="isCaptain">
      Mark as Captain
    </mat-checkbox>

    <!-- Image -->
    <div class="w-full">
      <mat-label>
        <mat-icon>image</mat-icon> Upload Image
      </mat-label>

      <input
        type="file"
        #imageInput
        (change)="onImageSelected($event)"
        accept="image/*"
        class="hidden"
      />

      <div
        (click)="imageInput.click()"
        class="cursor-pointer w-full flex flex-col items-center
           p-2 border-2 border-dashed border-gray-300
           rounded-lg hover:border-blue-500 transition"
      >
        <span class="text-gray-500 text-sm">Click to upload</span>
      </div>

      <mat-error
        *ngIf="playerForm.get('image')?.hasError('required')"
        class="mt-1"
      >
        Image is required.
      </mat-error>

      <div *ngIf="imagePreview" class="mt-2">
        <img
          [src]="imagePreview"
          alt="Image Preview"
          class="w-24 h-24 rounded-lg border border-gray-300"
        />
      </div>
    </div>

    <!-- Price -->
    <mat-form-field *ngIf="data?.editMode" class="w-full" appearance="fill">
      <mat-label><mat-icon>attach_money</mat-icon> Price</mat-label>
      <input matInput formControlName="price" type="number" />
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end" class="space-x-3">
    <button mat-button color="warn" (click)="onCancel()">Cancel</button>
    <button mat-raised-button color="primary"  (click)="onSubmit()" [disabled]="playerForm.invalid">
      {{ data.editMode ? 'Modify Player' : 'Add Player' }}
    </button>
  </mat-dialog-actions>

</form>
